<h1>Keyboard</h1>

<button class="key" (click)="playAudio('../assets/sound/C5.mp3')"> </button>
<button class="sharp" id="sharp1" (click)="playAudio('../assets/sound/DB5.mp3')"> </button>
<button class="key" id="key1" (click)="playAudio('../assets/sound/D5.mp3')"> </button>
<button class="sharp" id="sharp2" (click)="playAudio('../assets/sound/EB5.mp3')"> </button>
<button class="key" id="key2" (click)="playAudio('../assets/sound/E5.mp3')"> </button>
<button class="key" id="key3" (click)="playAudio('../assets/sound/F5.mp3')"> </button>
<button class="sharp" id="sharp3" (click)="playAudio('../assets/sound/GB5.mp3')"> </button>
<button class="key" id="key4" (click)="playAudio('../assets/sound/G5.mp3')"> </button>
<button class="sharp" id="sharp4" (click)="playAudio('../assets/sound/AB5.mp3')"> </button>
<button class="key" id="key5" (click)="playAudio('../assets/sound/A5.mp3')"> </button>
<button class="sharp" id="sharp5" (click)="playAudio('../assets/sound/BB5.mp3')"> </button>
<button class="key" id="key6" (click)="playAudio('../assets/sound/B5.mp3')"> </button>

<button class="key" id="key7" (click)="playAudio('../assets/sound/C6.mp3')"> </button>
<button class="sharp" id="sharp6" (click)="playAudio('../assets/sound/DB6.mp3')"> </button>
<button class="key" id="key8" (click)="playAudio('../assets/sound/D6.mp3')"> </button>
<button class="sharp" id="sharp7" (click)="playAudio('../assets/sound/EB6.mp3')"> </button>
<button class="key" id="key9" (click)="playAudio('../assets/sound/E6.mp3')"> </button>
<button class="key" id="key10" (click)="playAudio('../assets/sound/F6.mp3')"> </button>
<button class="sharp" id="sharp8" (click)="playAudio('../assets/sound/GB6.mp3')"> </button>
<button class="key" id="key11" (click)="playAudio('../assets/sound/G6.mp3')"> </button>
<button class="sharp" id="sharp9" (click)="playAudio('../assets/sound/AB6.mp3')"> </button>
<button class="key" id="key12" (click)="playAudio('../assets/sound/A6.mp3')"> </button>
<button class="sharp" id="sharp10" (click)="playAudio('../assets/sound/BB6.mp3')"> </button>
<button class="key" id="key13" (click)="playAudio('../assets/sound/B6.mp3')"> </button>



